
.caption
{
    font-size: 4rem;
    color: #EEE;
    font-weight: 700;

}
.bg-light
{
    background-color:#343a40 !important;
}
body{
    font-family: "Berlin Sans FB";

}
.navbar-light .navbar-nav .nav-link
{
    color:#ffffff !important;
    font-family: "Berlin Sans FB", sans-serif;

}
.navbar-light .navbar-brand
{
    color:#ffffff !important;

}